<div class="header">
	<div class="entry-bbs">
		<a href="">进入论坛</a>
		|
		<a href="">注册用户</a>
	</div>
	<h3><a href="">卡车论坛推荐</a></h3>
</div>
<ul class="pic-list">
	<li>
		<a href=""> <%- img(165, 97) %> 2017征途英雄卡友大会</a>
	</li>
	<li>
		<a href=""> <%- img(165, 97) %> 2017征途英雄卡友大会</a>
	</li>
</ul>
<ul class="text-list">
	<li>
		<a href="" class="date">东风康明</a>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
	<li>
		<a href="" class="date">东风康明</a>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
	<li>
		<a href="" class="date">东风康明</a>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
	<li>
		<a href="" class="date">东风康明</a>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
</ul>

