<div class="header">
	<a href="http://bbs.360che.com/club-47-1.html" class="view-more">更多</a>
	<h3 id="truck_bbs_tabs">
		<a href="http://bbs.360che.com/club-52-1.html" class="current border" data-rel="light_truck_bbs">轻卡论坛</a>
		<a href="http://bbs.360che.com/club-47-1.html" data-rel="pick_truck_bbs">皮卡论坛</a>
	</h3>
</div>
<div class="bbs-con visible" id="light_truck_bbs">
	<ul class="pic-list">
		<li>
			<a href="#"> <%- img(165, 97) %> 2017征途英雄卡友大会1</a>
		</li>
		<li>
			<a href="#"> <%- img(165, 97) %> 2017征途英雄卡友大会</a>
		</li>
	</ul>
	<ul class="text-list">
		<% for(var i = 0; i < 7; i++) {%>
		<li>
			<% include ../single-module/bbs/text-list.html %>
		</li>
		<% } %>
	</ul>
</div>
<div class="bbs-con" id="pick_truck_bbs">
	<ul class="pic-list">
		<li>
			<a href="#"> <%- img(165, 97) %> 2017征途英雄卡友大会2</a>
		</li>
		<li>
			<a href="#"> <%- img(165, 97) %> 2017征途英雄卡友大会</a>
		</li>
	</ul>
	<ul class="text-list">
		<% for(var i = 0; i < 7; i++) {%>
		<li>
			<% include ../single-module/bbs/text-list.html %>
		</li>
		<% } %>
	</ul>
</div>


