<a href="#" class="choice-view-content" id="choice_view_content">
    <%- img(240, 80) %>
</a>
<dl>
    <dt><a href="#">主打车</a></dt>
    <dd>
        <ul id="figure_links_mini_map">
            <% for(var i = 0; i < 7; i++) {%>
                <li>
                    <a href="#" data-imgurl="http://temp.im/240x80">
                        <span class="figure"> <%- img(70, 33) %> </span> 
                        解放J<%- i %>P
                    </a>
                </li>
                <% } %>
        </ul>
    </dd>
</dl>