<ul class="tab-title clearfix" id="brands_tabs">
	<li class="current" data-rel="rec_brand">推荐品牌</li>
	<li data-rel="all_brand">全部品牌</li>
</ul>
<div class="tab-cont">
	<div class="rec-brand visible" id="rec_brand">
		<ul class="brand-logo clearfix">
			<% for(var i = 0; i < 6; i++) {%>
			<li>
				<a href="#">
					<span class="figure"> <%- img(67, 28) %> </span>
					一汽解放
				</a>
			</li>
			<% } %>
		</ul>
		<div class="link">
			<% for(var i = 0; i < 21; i++) {%>
				<a href="#">大运重卡</a>
			<% } %>
		</div>
	</div>
	<div class="all-brand" id="all_brand">
		<% for(var i = 0; i < 27; i++) {%>
			<a href="#">大运重卡</a>
		<% } %>
    <a href="#" class="more">查看更多</a>
	</div>
</div>