<div class="header">
	<a href="" class="view-more">更多</a>
	<h3><a href="">热点专题</a></h3>
</div>
<ul class="pic-list">
	<li>
		<a href=""> <%- img(165, 97) %> 2017征途英雄卡友大会</a>
	</li>
	<li>
		<a href=""> <%- img(165, 97) %> 2017征途英雄卡友大会</a>
	</li>
</ul>
<ul class="text-list">
	<li>
		<span class="date">06月16日</span>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
	<li>
		<span class="date">06月16日</span>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
	<li>
		<span class="date">06月16日</span>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
	<li>
		<span class="date">06月16日</span>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
	<li>
		<span class="date">06月16日</span>
		<a href="">巅峰动力 王者传奇 东风康明斯发动机探秘</a>
	</li>
</ul>
