<div class="recommend-item">
    <div class="header">
        <a href="http://mai.360che.com/" class="view-more">更多</a>
        <h3>
            <a href="http://mai.360che.com/">卡车实拍图片推荐</a>
        </h3>
    </div>
    <ul class="recommend-con">
        <% for(var i=0;i<3;i++){ %>
        <li>
            <a href="#">
                <span class="figure"><%- img(150, 100) %> </span>
                <h4 class="intro">乘龙H7 450马力牵引车</h4>
            </a>
        </li>
        <% }%>
    </ul>
</div>

<div class="recommend-item no-border">
    <div class="header">
        <a href="http://mai.360che.com/" class="view-more">更多</a>
        <h3 class="recommend-title">
            <a href="http://mai.360che.com/">卡车实拍图片推荐</a>
        </h3>
    </div>
    <ul class="recommend-con">
        <% for(var i=0;i<3;i++){ %>
        <li>
            <a href="#">
                <span class="figure"><%- img(150, 100) %></span>
                <h4 class="intro">乘龙H7 450马力牵引车</h4>
            </a>
        </li>
        <% }%>
    </ul>
</div>
