<h3 class="upgrade-title">
    最新图片更新
    <div class="total-num">
        共更新<span class="type-num">38591</span>中车型的<span class="photo-num">423621</span>张图片
    </div>
</h3>
<ul class="upgrade-con">
    <%　for(var i=0;i<11;i++){ %>
        <li>
            <a href="#">奥驰 V1系列 95马力 3.7米单排栏板轻卡(FD1040W16K5-3)</a>
            <span class="item-num">共<em>8</em>张</span>
            <span class="date">06月23日</span>
        </li>
    <% } %>
</ul>
<div  class="more-pic"><a href="#" target="_blank">点击查看更多 卡车之家 实拍图片</a></div>