<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>卡车之家</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keyWords" content="卡车,卡车之家,卡车报价,卡车图片,卡车新闻,卡车论坛,卡车网站" />
    <meta name="description" content="卡车之家为您提供最新的卡车报价、卡车图片、卡车新闻资讯以及最具人气的卡车论坛。卡车之家是卡车人的家，卡车人的卡车网站。" />
    <meta name="baidu-site-verification" content="4McpsV8SSf" />
    <meta http-equiv="mobile-agent" content="format=html5;url=http://m.360che.com" />
    <meta name="google-site-verification" content="fTptNT68Q4KtSykyBreIWxPtpGuBtsQC15UdMNc7aS4" />
    <base target="_blank" />
    <link rel="stylesheet" href="https://s.kcimg.cn/cms/css/global/v.01/global-sitenav.css?20170519" />
    <%- css("style-index.css") %>
</head>

<body>
    <div class="wrapper">
        <!-- 广告位-1 -->
        <div class="ad-div">
            <div>
                <%- img(1000, 60, 'block__img') %>
            </div>
        </div>

        <!-- 广告位-2,3 -->
        <div class="ad-div horizontal">
            <div>
                <%- img(590, 140, 'block__img') %>
            </div>
            <div>
                <%- img(400, 140, 'block__img') %>
            </div>
        </div>

        <!-- 产品库入口 -->
        <div class="products-entry">
            <div class="header">
                <div class="search">
                    <% include ./components/products-entry/search.html %>
                </div>
                <div class="tabs" id="products_tabs">
                    <% include ./components/products-entry/tabs.html %>
                </div>
            </div>
            <!-- 文字链接模块 -->
            <div class="text-links">
                <% include ./components/products-entry/text-links.html %>
            </div>

            <!-- 图片链接模块 -->
            <div class="figure-links">
                <% include ./components/products-entry/figure-links.html %>
            </div>
        </div>

        <!-- 广告位-4 -->
        <div class="ad-div">
            <div>
                <%- img(1000, 60, 'block__img') %>
            </div>
        </div>

        <!-- 广告位-5 -->
        <div class="ad-div">
            <div>
                <%- img(1000, 60, 'block__img') %>
            </div>
        </div>

        <!-- 广告位-6 -->
        <div class="ad-div">
            <div>
                <%- img(1000, 60, 'block__img') %>
            </div>
        </div>

        <!-- 首屏主模块 -->
        <div class="default-module first-screen clearfix">
            <div class="section clearfix">
                <div class="section-cloumn-min">

                    <!-- 焦点图&论坛热门 -->
                    <div class="foucs--bbs-hot">
                        <div class="focus" id="focus">
                            <% include ./components/first-screen/focus.html %>
                        </div>
                        <div class="bbs-hot">
                            <% include ./components/first-screen/bbs-hot.html %>
                        </div>
                    </div>

                    <!-- 热门专题 -->
                    <div class="topics-hot">
                        <% include ./components/first-screen/topics-hot.html %>
                    </div>

                </div>
                <div class="section-cloumn-max">
                    <!-- 今日头条 -->
                    <div class="toutiao">
                        <% include ./components/first-screen/toutiao.html %>
                    </div>
                </div>

            </div>
            <div class="side">

                <!-- 品牌模块 -->
                <div class="brands">
                    <% include ./components/first-screen/brands.html %>
                </div>

                <!-- 广告位-7 -->
                <div class="ad-div">
                    <div>
                        <%- img(205, 300, 'block__img') %>
                    </div>
                </div>

            </div>
        </div>

        <!-- 广告位-8,9 -->
        <div class="ad-div horizontal">
            <div>
                <%- img(360, 60, 'block__img') %>
            </div>
            <div>
                <%- img(630, 60, 'block__img') %>
            </div>
        </div>

        <!-- 广告位-10,11 -->
        <div class="ad-div horizontal">
            <div>
                <%- img(360, 60, 'block__img') %>
            </div>
            <div>
                <%- img(630, 60, 'block__img') %>
            </div>
        </div>

        <!-- 广告位-12 -->
        <div class="ad-div">
            <div>
                <%- img(1000, 60, 'block__img') %>
            </div>
        </div>

        <!-- 卡车视频 -->
        <div class="default-module recommend-videos-wrap">
            <div class="header">
                <a href="http://www.360che.com/v/" class="view-more">更多</a>
                <h3><a href="http://www.360che.com/v/">卡车视频</a></h3>
            </div>
            <div class="recommend-videos">
                <% include ./components/recommend-videos/index.html %>
            </div>
        </div>

        <!-- 二屏主模块 -->
        <div class="default-module second-screen clearfix">
            <div class="section clearfix">
                <div class="section-cloumn-min">
                    <!-- 论坛推荐 -->
                    <div class="row-model">
                        <div class="bbs-recommend">
                            <% include ./components/second-screen/bbs-recommend.html %>
                        </div>
                    </div>

                    <!-- 政策法规-->
                    <div class="row-model policies-regulations">
                        <% include ./components/second-screen/policies-regulations.html %>
                    </div>

                    <!-- 养车用车 -->
                    <div class="row-model-lower support-vehicle">
                        <% include ./components/second-screen/support-vehicle.html %>
                    </div>
                </div>
                <div class="section-cloumn-max">
                    <!-- 卡车新闻 -->
                    <div class="row-model truck-news">
                        <% include ./components/second-screen/truck-news.html %>
                    </div>

                    <!-- 行情导购 -->
                    <div class="row-model price-guide">
                        <% include ./components/second-screen/price-guide.html %>
                    </div>

                    <!-- 试驾评测 -->
                    <div class="row-model-lower evaluation">
                        <% include ./components/second-screen/evaluation.html %>
                    </div>

                </div>
            </div>
            <div class="side">

                <!-- 行业资讯 -->
                <div class="row-model industry-information">
                    <% include ./components/second-screen/industry-information.html %>
                </div>

                <!-- 广告位-13,14,15,16 -->
                <div class="ad-div vertical">
                    <div>
                        <%- img(205, 116, 'block__img') %>
                    </div>
                    <div>
                        <%- img(205, 116, 'block__img') %>
                    </div>
                    <div>
                        <%- img(205, 116, 'block__img') %>
                    </div>
                    <div>
                        <%- img(205, 116, 'block__img') %>
                    </div>
                </div>
            </div>
        </div>

        <!-- 广告位-17 -->
        <div class="ad-div">
            <div>
                <%- img(1000, 60, 'block__img') %>
            </div>
        </div>

        <!-- 广告位-18 -->
        <div class="ad-div">
            <div>
                <%- img(1000, 60, 'block__img') %>
            </div>
        </div>

        <!-- 高清大图 -->
        <div class="hd-picture-news">
            <% include ./components/hd-picture-news/index.html %>
        </div>

        <!-- 牵引车模块 -->
        <div class="default-module tractor clearfix">
            <div class="section clearfix">

                <!-- 牵引车论坛 -->
                <div class="section-cloumn-min single-module">
                    <div class="bbs">
                        <% include ./components/single-module/bbs.html %>
                    </div>
                </div>

                <!-- 牵引车新闻 -->
                <div class="section-cloumn-max single-module">
                    <div class="news">
                        <% include ./components/single-module/news.html %>
                    </div>
                </div>
            </div>

            <!-- 牵引车关注度排行-->
            <div class="side single-module">
                <div class="rank">
                    <% include ./components/single-module/rank.html %>
                </div>
            </div>
        </div>

        <!-- 广告位-19 -->
        <div class="ad-div">
            <div>
                <%- img(1000, 60, 'block__img') %>
            </div>
        </div>

        <!-- 轻卡模块 -->
        <div class="default-module light-truck clearfix">
            <div class="section clearfix">

                <!-- 轻卡论坛 -->
                <div class="section-cloumn-min double-module">
                    <div class="bbs">
                        <% include ./components/double-module/bbs.html %>
                    </div>
                </div>
                <!-- 轻卡新闻 -->
                <div class="section-cloumn-max double-module">
                    <div class="news">
                        <% include ./components/double-module/news.html %>
                    </div>
                </div>
            </div>

            <!-- 轻卡关注度排行-->
            <div class="side double-module">
                <div class="rank">
                    <% include ./components/double-module/rank.html %>
                </div>
            </div>
        </div>

        <!-- 载货车模块 -->
        <div class="default-module cargo-truck clearfix">
            <div class="section clearfix">

                <!-- 载货车论坛 -->
                <div class="section-cloumn-min single-module">
                    <div class="bbs">
                        <% include ./components/single-module/bbs.html %>
                    </div>
                </div>
                <!-- 载货车新闻 -->
                <div class="section-cloumn-max single-module">
                    <div class="news">
                        <% include ./components/single-module/news.html %>
                    </div>
                </div>
            </div>

            <!-- 载货车关注度排行-->
            <div class="side single-module">
                <div class="rank">
                    <% include ./components/single-module/rank.html %>
                </div>
            </div>
        </div>

        <!-- 自卸车模块 -->
        <div class="default-module dump-truck clearfix">
            <div class="section clearfix">

                <!-- 自卸车论坛 -->
                <div class="section-cloumn-min single-module">
                    <div class="bbs">
                        <% include ./components/single-module/bbs.html %>
                    </div>
                </div>
                <!-- 自卸车新闻 -->
                <div class="section-cloumn-max single-module">
                    <div class="news">
                        <% include ./components/single-module/news.html %>
                    </div>
                </div>
            </div>

            <!-- 自卸车关注度排行-->
            <div class="side single-module">
                <div class="rank">
                    <% include ./components/single-module/rank.html %>
                </div>
            </div>
        </div>

        <!-- 广告位-20,21 -->
        <div class="ad-div horizontal">
            <div>
                <%- img(625, 80, 'block__img') %>
            </div>
            <div>
                <%- img(365, 80, 'block__img') %>
            </div>
        </div>

        <!-- 专用车模块 -->
        <div class="default-module special-truck clearfix">
            <div class="section clearfix">

                <!-- 专用车论坛 -->
                <div class="section-cloumn-min single-module">
                    <div class="bbs">
                        <% include ./components/single-module/bbs.html %>
                    </div>
                </div>
                <!-- 专用车新闻 -->
                <div class="section-cloumn-max single-module">
                    <div class="news">
                        <% include ./components/single-module/news.html %>
                    </div>
                </div>
            </div>

            <!-- 专用车关注度排行-->
            <div class="side single-module">
                <div class="rank">
                    <% include ./components/single-module/rank2.html %>
                </div>
            </div>
        </div>

        <!-- 挂车模块 -->
        <div class="default-module trailer clearfix">
            <div class="section clearfix">

                <!-- 挂车论坛 -->
                <div class="section-cloumn-min single-module">
                    <div class="bbs">
                        <% include ./components/single-module/bbs.html %>
                    </div>
                </div>
                <!-- 挂车新闻 -->
                <div class="section-cloumn-max single-module">
                    <div class="news">
                        <% include ./components/single-module/news.html %>
                    </div>
                </div>
            </div>

            <!-- 挂车关注度排行-->
            <div class="side single-module">
                <div class="rank">
                    <% include ./components/single-module/rank2.html %>
                </div>
            </div>
        </div>

        <!-- 经销商模块 -->
        <div class="default-module dealer">

            <!-- 时长行情 -->
            <div class="quotation">
                <% include ./components/dealer/quotation.html %>
            </div>

            <!--推荐经销商 -->
            <div class="dealer-stars">
                <% include ./components/dealer/dealer-stars.html %>
            </div>
        </div>

        <!-- 产品库图片模块 -->
        <div class="default-module products-photos clearfix">

            <!-- 时长行情 -->
            <div class="upgrade">
                <% include ./components/products-photos/upgrade.html %>
            </div>

            <!--推荐经销商 -->
            <div class="recommend">
                <% include ./components/products-photos/recommend.html %>
            </div>
        </div>

        <!-- 配件商城模块 -->
        <div class="default-module mall-sales">
            <div class="header">
                <a href="http://mai.360che.com/" class="view-more">更多</a>
                <h3>
                    <a href="http://mai.360che.com/">卡车之家商城</a>
                </h3>
            </div>
            <div class="flex-container clearfix">
                <!-- 商城热销商品 -->
                <div class="flex-two">
                    <div class="hot">
                        <% include ./components/mall-sales/hot.html %>
                    </div>
                </div>

                <!-- 商城购买链接推荐 -->
                <div class="flex-one">
                    <% include ./components/mall-sales/recommend.html %>
                </div>
            </div>
        </div>

        <!-- 排行榜 -->
        <div class="default-module flex-container ranks-all clearfix">

            <!-- 热门文章排行 -->
            <div class="flex-one">
                <div class="hot-news">
                    <% include ./components/ranks-all/hot-news.html %>
                </div>

            </div>
            <!-- 车型关注度排行 -->
            <div class="flex-one">
                <div class="model-focus">
                    <% include ./components/ranks-all/model-focus.html %>
                </div>
            </div>
            <!-- 论坛热帖排行 -->
            <div class="flex-one">
                <div class="hot-poster">
                    <% include ./components/ranks-all/hot-posters.html %>
                </div>
            </div>
        </div>

        <!-- 友情链接&热门推荐-->
        <div class="default-module friends-link">
            <% include ./components/friends-link/index.html %>
        </div>
        <!--返回顶部按钮-->
        <div class="global-widget">
            <a href="http://www.360che.com/help/suggest/index.html" class="feed-back" target="_blank">馈</a>
            <div class="back-top" id="go_top">顶</div>
        </div>
        <!-- 公共底部 -->
        <div class="default-module global-footer">
            <% include ./components/global-footer/index.html %>
        </div>
    </div>
    <script src="//afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
    <script src="//s.kcimg.cn/main/ads_material.2.0.js"></script>
    <script src="//j.360che.com/pv.js"></script>
    <script src="//s.kcimg.cn/public/jquery.min.js"></script>
    <script src="//s.kcimg.cn/public/idangerous.swiper.min.js"></script>
    <script src="//js.360che.com/truckhome-1.1.js"></script>
    <!-- build:js ../js/truckhome.2.0.0.min.js -->
    <script src="../js/home.js"></script>
    <!-- endbuild -->
    <script src="//s.kcimg.cn/public/share/js/truckhome.share.js"></script>
</body>

</html>