<div class="links">
  <a href="http://www.360che.com/help/about/">关于我们</a>|<a href="http://www.360che.com/help/contact/">联系我们</a>|<a href="http://www.360che.com/help/job/" rel="nofollow">工作机会</a>|<a href="http://www.360che.com/help/sitemap/">网站地图</a>|<a href="http://www.360che.com/help/ad/" rel="nofollow" class="promotion">广告合作</a>|<a href="http://www.360che.com/help/legal/" rel="nofollow">法律声明</a>|<a href="http://app.360che.com/iphone.html" class="iphone">iPhone客户端</a>|<a href="http://app.360che.com/android.html" class="android">Android客户端</a>|<a href="http://m.360che.com/">触屏版</a>|<a href="http://www.360che.com/help/suggest/index.html" rel="nofollow">意见反馈</a>
  <div class="share" id="share"></div>
</div>
<div class="licence">
  <p>经营许可证编号：京ICP证080575号 / 京ICP备09080840号 京公网安备110105007230</p>
  <p>广播电视节目制作经营许可证  （京）字第07222号 / 食品经营许可证  JY11105220860915</p>  
  <p>社会信用代码：911101056787733227</p>
</div>
<div class="copyright">
  Copyright &copy; 2009 - <script>document.write(new Date().getFullYear());</script> www.360che.com All Rights Reserved.<a href="http://www.360che.com/">卡车之家</a>版权所有
</div>