<div class="hot-cloth">
    <a href="#">
        <%-img(200, 233) %>
    </a>
</div>
<div class="daily-supplies">
    <ul>
        <li>
            <a class="figure" href="#"> <%- img(120, 90) %></a>
            <a href="#" class="title">长效空滤</a>
            <span class="price">商城价：<em>288元</em></span>
        </li>
        <li>
            <a class="figure" href="#"> <%- img(120, 90) %></a>
            <a href="#" class="title">长效空滤</a>
            <span class="price">商城价：<em>288元</em></span>
        </li>
        <li>
            <a class="figure" href="#">
                <%- img(120, 90) %>
             </a>
            <a href="#" class="title">长效空滤</a>
            <span class="price">商城价：<em>288元</em></span>
        </li>
    </ul>
    <dl class="supplies-type">
        <dt><a href="#">卡车/用品</a></dt>
        <dd><a href="#">柴油滤芯</a></dd>
        <dd><a href="#">机油滤芯</a></dd>
        <dd><a href="#">空气滤芯</a></dd>
        <dd><a href="#" class="active">机油</a></dd>
        <dd><a href="#">安全用品</a></dd>
    </dl>
    <dl class="supplies-recommend">
        <dt><a href="#">推荐品牌</a></dt>
        <dd><a href="#"><img src="http://imga.360che.com/HW_Image/2013/0524/0524134355.jpg" alt=""></a></dd>
        <dd><a href="#"><img src="http://www.360che.com/CSS/Default20130123/images/tm.jpg" alt=""></a></dd>
        <dd><a href="#"><img src="http://www.360che.com/CSS/Default20130123/images/wbk.jpg" alt=""></a></dd>
    </dl>
</div>