<div class="header clearfix">
	<div class="entry-bbs">
		<a href="#">报价</a>|<a href="#">经销商</a>
	</div>
	<h3>北京车市</h3>
	
	<!-- 收起状态时加上类down 打开去掉down -->
	<span class="selected-region" id="dealer_location">北京<i></i></span>
	<div class="aside-regions" id="dealer_regions">
		<dl class="province" id="dealer_province">
			<dt>省份</dt>
			<dd>
				<ul>
					<li><span data-pid="1">全国</span></li>
					<% for(var i = 1; i < 33; i++) {%>
					<li><span data-pid="<%-i %>10000" class="<%-i == 1 ? 'selected' : '' %>">北京</span></li>
					<% } %>
				</ul>
			</dd>
		</dl>
		<dl class="city" id="dealer_city">
			<dt>城市</dt>
			<dd>
				<ul>
					<li><span data-pid="110000">全部</span></li>
					<% for(var i = 1; i < 13; i++) {%>
					<li><span data-pid="110<%-i %>00">朝阳</span></li>
					<% } %>
				</ul>
			</dd>
		</dl>
	</div>
	<span class="recommend-region" id="dealer_recommend_city">
		<span data-cid="440100">广州</span>|<span data-cid="510100">成都</span>|<span data-cid="370100">济南</span>|<span data-cid="610100">西安</span>|<span data-cid="210100">沈阳</span>
	</span>
</div>


<div class="dealer-content" id="dealer_content">
	<% var dealer = [
		{ 
			id: 'dealer_hot', 
			name: '热门推荐'
		},
		{ 
			id: 'dealer_light', 
			name: '轻卡'
		},
		{ 
			id: 'dealer_tractor', 
			name: '牵引车'
		},
		{ 
			id: 'dealer_cargo', 
			name: '载货车'
		},
		{ 
			id: 'dealer_dump', 
			name: '自卸车'
		},
		{ 
			id: 'dealer_pick', 
			name: '皮卡'
		}
	]%>
	<ul class="dealer-nav" id="dealer_nav">
		<% dealer.forEach(function(item,index){ %>
			<li class="<%- index == 0 ? 'current' : '' %>" data-rel="<%- item.id %>"><%- item.name %></li>	
		<% }) %>
	</ul>

	<% dealer.forEach(function(item,index){ %>
		<div id="<%- item.id %>" class="dealer-section clearfix <%- index == 0 ? 'visible' : '' %>">
			<div class="sales">
				<div class="header">
					<h3><%- item.name %></h3>
				</div>
				<ul class="text-list">
					<% for(var i = 0; i < 9; i++) {%>
						<li>
							<a href="#"><%- i %>跃进撬"冻"京城冷链物流 首交付跃进撬"冻"京</a>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="dealer-list">
				<% if(- index == 0) {%>
					<!-- 没有经销商时显示如下 -->
					<div class="no-dealer">您当前所在地区推荐经销商数量有限，我们为您推荐其他地区经销商</div>
				<% }else { %>
					<ul>
						<% for(var i = 0; i < 6; i++) {%>
							<li>
								<a href="#" class="truck"><%- i %>福田 奥铃CTX 科技版 118马力 4.2米单排栏</a>
								<span class="price">电询</span>
								<a href="#" class="inquiry-price">询底价</a>	
								<a href="#" class="dealer-v"><i></i>北京路普汽车销售服务有限责任</a>
							</li>
						<% } %>
					</ul>
				<% }%>
			</div>
		</div>	
	<% }) %>
</div>