<div class="header">
    <h3 class="article-title">热门文章排行</h3>
</div>
<ul class="rank-type" id="hot_article_rank">
    <li class="current" data-rel="threedays_articles_rank">
        三日内文章排行榜
    </li>
    <li data-rel="week_articles_rank">
        一周内文章排行榜
    </li>
</ul>
<ul id="threedays_articles_rank" class="rank-con visible">
    <% for(var i=0;i<10;i++){ %>
    <li>
        <a href="#">一趟运费近百万 关于大件运输的那些事</a>
        <span>06月26日</span>
    </li>
    <% } %>
</ul>
<ul id="week_articles_rank" class="rank-con">
    <% for(var i=0;i<10;i++){ %>
    <li>
        <a href="#">550马力解放J6露面 白内饰皮座椅很高端</a>
        <span>06月23日</span>
    </li>
    <% } %>
</ul>
