<div class="header">
    <h3 class="article-title">论坛热帖排行</h3>
</div>
<ul class="rank-type" id="hot_posters_rank">
    <li class="current" data-rel="threedays_posters_rank">
        三日内热帖排行榜
    </li>
    <li data-rel="week_posters_rank">
        一周内热帖排行榜
    </li>
</ul>
<ul id="threedays_posters_rank" class="rank-con visible">
    <% for(var i=0;i<10;i++){ %>
    <li>
        <a href="#">忆当年——卡车生涯记忆犹新的故事</a>
        <span>06月26日</span>
    </li>
    <% } %>
</ul>
<ul id="week_posters_rank" class="rank-con">
    <% for(var i=0;i<10;i++){ %>
    <li>
        <a href="#">久违的直播贴——郑州——乌鲁木齐</a>
        <span>06月23日</span>
    </li>
    <% } %>
</ul>
