<div class="header" >
    <h3>车型关注度</h3>
</div>
<div class="rank-type">
    <span class="brand">品牌</span>
    <span class="car-type">车型</span>
    <span class="focus">周关注</span>
</div>
<ol class="rank-detail">
    <li>
        <i class="hot">1</i>
        <a href="#" class="brand">一汽解放</a>
        <a href="#" class="car-type">一汽解放 新J6P重卡 ...</a>
        <span class="hot">9848</span>
    </li>
    <li>
        <i class="hot">2</i>
        <a href="#" class="brand">陕汽重卡</a>
        <a href="#" class="car-type">陕汽重卡 德龙X3000 ...</a>
        <span class="hot">7462</span>
    </li>
    <li>
        <i class="hot">3</i>
        <a href="#" class="brand">福田欧马可</a>
        <a href="#" class="car-type">福田 欧马可S5系 170...</a>
        <span class="hot">5829</span>
    </li>
    <li>
        <i>4</i>
        <a href="#" class="brand">福田欧曼</a>
        <a href="#" class="car-type">福田 欧曼GTL 6系重...</a>
        <span>5575</span>
    </li>
    <li>
        <i>5</i>
        <a href="#" class="brand">一汽解放</a>
        <a href="#" class="car-type">一汽解放 J6P重卡 领...</a>
        <span>5399</span>
    </li>
    <li>
        <i>6</i>
        <a href="#" class="brand">福田欧曼</a>
        <a href="#" class="car-type">福田 欧曼新ETX 6系...</a>
        <span>5158</span>
    </li>
    <li>
        <i>7</i>
        <a href="#" class="brand">徐工重卡</a>
        <a href="#" class="car-type">徐工 漢风G7 350马力...</a>
        <span>4768</span>
    </li>
    <li>
        <i>8</i>
        <a href="#" class="brand">重汽豪沃(HOWO)</a>
        <a href="#" class="car-type">中国重汽 HOWO T7H重...</a>
        <span>4524</span>
    </li>
    <li>
        <i>9</i>
        <a href="#" class="brand">一汽解放</a>
        <a href="#" class="car-type">一汽解放 J6L中卡 18...</a>
        <span>4488</span>
    </li>
    <li>
        <i>10</i>
        <a href="#" class="brand">青岛解放</a>
        <a href="#" class="car-type">青岛解放 天V重卡 50...</a>
        <span>4348</span>
    </li>
</ol>